<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bands</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.min.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css"/>
    <script th:src="@{/webjars/jquery/2.1.0/jquery.js}" src="jquery.js"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}"
            src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="fragments/header :: header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rap Bands Wiki! - Just a place holder, will come from angular home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings for Demo</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div th:fragment="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <h3>Bands</h3>
                    </div>
                    <div class="col-xs-4">
                        <div class="row" ng-if="statusmessage != ''">
                            <div class="col-xs-12">
                                <p class="bg-success text-center">
                                    <span ng-bind="statusmessage"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-if="errormessage != ''">
                            <div class="col-xs-12">
                                <p class="bg-danger text-center">
                                    <span ng-bind="errormessage"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td width="5%">Summary</td><td width="95%">{{bandSummary.summary}}</td>
                        </tr>
                        <tr>
                            <td width="5%">Awards</td><td width="95%">{{bandSummary.awards}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>