<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PSO Shopfront</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
<script th:src="@{/webjars/jquery/2.1.0/jquery.js}" src="jquery.js" > </script>
<script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js" > </script>
<script th:src="@{/webjars/angularjs/1.3.0-beta.8/angular.min.js}" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js" > </script>
<script th:src="@{/webjars/angularjs/1.3.0-beta.8/angular-resource.min.js}" src="#" > </script>
<script th:src="@{/webjars/angular-ui-router/0.2.8/angular-ui-router.min.js}" src="#" > </script>
<script th:src="@{/js/markdown.min.js}" src="../../static/js/markdown.min.js" > </script>
<script th:inline="javascript">
/*<![CDATA[*/
    var URLS = {};
    URLS.getBandsList = /*[[@{/rap/rest/bands}]]*/ '/rap/rest/bands';
    URLS.getSummary =  /*[[@{/rap/rest/bands/bandSummary}]]*/ '/rap/rest/bandSummary';
    URLS.partialsHome = /*[[@{/rap/bands/partialsHome}]]*/ '/rap/bands/partialsHome';
    URLS.partialsSummary = /*[[@{/rap/bands/partialsSummary}]]*/ '/rap/bands/partialsSummary';
    URLS.vcapProperties = /*[[@{/cfdetails/rest/vcap}]]*/ '/cfdetails/rest/vcap';
    URLS.partialsVcap = /*[[@{/cfdetails/partialsVcap}]]*/ '/cfdetails/partialsVcap';
/*]]>*/
</script>
<script  th:src="@{/js/app.js}" src="../../static/js/app.js" > </script>		
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="fragments/header :: header">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Rap Bands Wiki! - will actually come from fragment..</a>
			</div>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Vcap Properties</a></li>
				<li><a href="#">About</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div layout:fragment="content">
			<h1>Static content for prototyping purposes only</h1>
				<p>
				This is the layout of the site. The actual content will come from individual views making use of this layout
			</p>
		 </div>		
	</div>
	<div id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<hr/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>